body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    width: 32vw;
    height: 32vw;
    border: solid 1px #000000;
}

div.grid {
    margin: 0;
}

button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

